.form{
    background-image: radial-gradient(ellipse at top right, #d474e7, #8cb3df);
    padding: 1rem;
    color: #dadada;
    display: flex;
    flex-direction: column;
}

textarea, input[type="text"] {
    padding: 0.5rem;
    background-color: #decfe7;
    border: none;
    border-radius: 2%;
    font-size: 1rem;
}
textarea:focus, input[type="text"]:focus {
    outline: none;
    background-color: #cdbed6;
    color: #401e7e;
  }
  
.buttons {
    margin: 0 auto;
}
input[type="submit"], input[type="button"] {
    padding:0.3rem;
    margin-right: 1rem;
    border-radius: 0.2rem;
    color: #dadada;
    font-weight: bold;
    border: none;
}
input[type="submit"] {
    background-color: #b761c9;
}
input[type="button"]{
    background-color: transparent;
}

input[type="button"]:hover{
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: #dadada;
    color: #b761c9;
    cursor: pointer;
}  